body{
    /* background-color: rgb(91, 220, 252); */
    background-color: steelblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
align-items: left;
}
.container{
    display: flex;
    flex-direction: column;
    background: rebeccapurple;
    height: 400px; 
    border-radius: 5%;
    margin: 10px auto;
    margin-top: 0;
    width: 500px;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(194, 42, 42);
    font-family: 'freestyle script';
    text-transform: capitalize;
    text-align: center;
    font-size: 100px;
    font-weight: bold ;
    margin: 0;
}

.form{
    /* padding: 1rem 1.5rem; */
    display: flex;
    flex-direction: column;
}

.form-group{
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 10px ;
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}

.form-group input{
    margin-top: 15px;
    padding: 8px;
    background-color: beige;
    font-family: inherit;
}

input::placeholder{
    color: rebeccapurple;
    font-weight: bold;
    font-size: 20px;
    }
.form-group input:focus{
    outline: none;
}

.form-group input:active{
    outline: none;
}

.form-control{
    border-radius: 10px;
}

#count{
    background-color: beige;
    padding: 10px;
    font-size: 20px;
    margin: 10px 0;
    color: rebeccapurple;
    font-family: inherit;
}

#count span{
    font-weight: bold;
}